<!DOCTYPE html>
<html>
  <head>
    <title>HotwireReact</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="w-2/3 mx-auto pt-44 relative">
      <div class="absolute top-0 w-full" id="flash"></div>
      <%= yield %>
      <hr class="mt-12" />
      <div class="text-center w-full mt-4">
        <%= image_tag "footer.png", class: "inline-block" %>
      </div>
    </div>
  </body>
</html>
